@model PaginatedList<MoviesWebApp.Models.Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["TitleForm"] = "Movies";
    ViewData["SubNavbar"] = "movie";
}

<div class="d-flex justify-content-between mb-3">
    <div>
        <a asp-action="Create" class="btn btn-outline-primary"> <i class="bi bi-plus-circle"></i> Create New</a>
    </div>
   
    <div>
        <form class="d-flex" role="search" asp-controller="Movies" asp-action="Index" method="get">
            <input class="form-control me-2" type="search" name="search" asp-route-pageNumber="@ViewData["pageNumber"]" asp-route-sizePage="@ViewData["PageSize"]" value="@ViewData["CurrentFilter"]" placeholder="Search">
            <button class="btn btn-outline-success" value="Search" type="submit">Search</button>
        </form>
    </div>
    <div>
        <form asp-controller="Movies" class="d-flex" asp-action="Index" method="get">
            <div class="me-2">
                <select class="form-select" name="sizePage" aria-label="Default select example">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>

                </select>
            </div>
            <div>
                <button class="btn btn-outline-success" type="submit">Sort</button>
            </div>


        </form>

    </div>
   
   
</div>
<table id="movieList" class="table table-hover shadow table-bordered">
    <thead>
        <tr>
            <th>
                <a asp-controller="Movies" asp-action="Index" asp-route-pageNumber="@ViewData["pageNumber"]" asp-route-sizePage="@ViewData["PageSize"]" asp-route-sortOrder="@ViewData["TitleSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Title</a>
            </th>
            <th>
                <a asp-controller="Movies" asp-action="Index" asp-route-pageNumber="@ViewData["pageNumber"]" asp-route-sizePage="@ViewData["PageSize"]" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ReleasedDate</a>
            </th>
            <th>
                Language
            </th>
            <th>
                Rating
            </th>
            <th>
                Budget
            </th>
            <th>
                Duration
            </th>
            <th>
                AgeLimited
            </th>
            <th>Cover</th>
      @*      <th>
               Genre
            </th>*@
           @* <th style="width:15%;">
                @Html.DisplayNameFor(model => model.Description)
            </th>*@
            <th style="width:8%;">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleasedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeLimited)
            </td>
                <td>
                    <img src="~/Images/@item.CoverImage" width="30px" height="30px">
                </td>
       @*     <td>
                    @foreach(var i in item?.MovieGenres)
                    {
                        <p>@i.Genre?.GenreName,  </p> 
                        
                    }
            </td>*@
@*            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.MovieId" class="bi bi-pen"></a> |
                <a asp-action="Details" asp-route-id="@item.MovieId" class="bi bi-eye"></a> |
                <a asp-action="Delete" asp-route-id="@item.MovieId" class="bi bi-trash"></a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var totalPage = Model.TotalPages;
 
}


<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-sizePage="@ViewData["PageSize"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a>
    @totalPage
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-sizePage="@ViewData["PageSize"]"
   class="btn btn-default @nextDisabled">
    Next
</a>