@model IEnumerable<MoviesWebApp.Models.Genre>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Genre</h1>

<p>
    <a asp-action="Create" class=" btn btn-primary">Create New</a>
</p>
<table class="table border box-shadow">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>

                    <a asp-action="Edit" asp-route-id="@item.GenreID"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.GenreID"><i class="fa fa-eye" aria-hidden="true"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.GenreID"><i class="fa fa-minus-square" aria-hidden="true"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
